@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}
h1 {
    text-transform: capitalize;
    text-align: center;
    min-height: 100px;
    padding: 0;
    margin: 0;
}
.contenedor {
    background-color: #AAAAAA;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}
.casilla {
    width: 25px;
    height: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.area-juego {
    width: 100%;
}
.entrada {
    width: 100%;
}
.casillas {
    display: inline-block;
    width: auto;
}
span {
    text-align: center;
    width: 120px;
    float: left;
}

.botones {
    margin: 20px 0;
    display: flex;
}
button {
    font-size: 1em;
    border-radius: 10px;
    width: 30%;
    font-weight: bold;
    padding: 5px 10px;
    margin: 5% 10px;
}
button:nth-child(1) {
    background-color: green;
    border: none;
    color: white;
}

li {
    list-style: none;
    font-size: 0.8em;
}
li::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #333333;
    margin-right: 10px;
    border: black solid 2px;
}
#ac::before {
    background-color: green;
}
#wa::before {
    background-color: yellow;
}

.correcto {
    background-color: green;
    color: white;
}
.modificar {
    background-color: yellow;
    color: black;
}
.incorrecto {
    background-color: #333333;
    color: white;
}